<div style="display:flex; gap: 5rem;">
  <div>

    <h1 id="ola">Productos agregados</h1>
    <div id="container">

    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>